:root {
  --secondary: #777;
}

noscript,
.error {
  color: red;
  font-size: 1.2em;
  margin: 0 15px;
}

#loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 5px solid var(--secondary);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#results li {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
}

#results li::before {
  content: "-";
  margin-right: .4em;
}

table {
  border-collapse: collapse;
  text-align: left;
}

table td,
table th {
  border: 1px solid var(--secondary);
  padding: 15px;
}

table p {
  margin: 0;
}
