:root {
  --width: 1000px;
  --text-color: #d0d0d0;
}

html {
  background-color: #171717;
  color: var(--text-color);
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  max-width: var(--width);
  align-items: center;
  position: absolute;
}

nav h1 {
  flex-grow: 1;
}

nav ul {
  margin: 0;
  display: flex;
}

nav li {
  list-style-type: none;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

nav li a {
  padding: 20px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

main {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.country {
  display: flex;
  align-items: center;
}

.country img {
  height: 1em;
  margin-left: .5em;
}
