<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/fonts/inter.css">
    <link rel="stylesheet" href="/style/style.css">
    <title>ZeroLeaks</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
      <h1><a href="/">ZeroLeaks</a></h1>
      <div id="links">
        <input id="checkbox" type="checkbox">
        <label for="checkbox"><img src="/assets/menu.svg" alt="{{ s("menu") }}"></label>
        <ul>
          <li><a href="/dns">{{ s("dns_leak") }}</a></li>
          <li><a href="/webrtc">{{ s("webrtc_leak") }}</a></li>
          <li><a href="/bittorrent">{{ s("bittorrent_leak") }}</a></li>
        </ul>
      </div>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
</body>
</html>
