<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>All-in-One Leak Test</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
      <h1><a href="/">All-in-One Leak Test</a></h1>
      <ul>
        <li><a href="/dns">{{ s("dns_leak") }}</a></li>
        <li><a href="/webrtc">{{ s("webrtc_leak") }}</a></li>
        <li><a href="/bittorrent">{{ s("bittorrent_leak") }}</a></li>
      </ul>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
</body>
</html>
