{% extends "results_table.html" %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/style/bittorrent.css">
<script>
  const HELPER_URL = "{{ helper_url }}";
</script>
<script src="/js/bittorrent.js" defer></script>
{% endblock %}

{% block inner %}
<div id="inner" class="hidden">
  <p>{{ s("magnet_instructions") }}</p>
  <p>🧲 <a target="_blank"></a></p>
  <p>{{ s("copy_hint")|format("<span>⌨️ Ctrl+C</span>")|raw }}</p>
  <p id="expire">{{ s("magnet_expire") }}</p>
</div>
<p class="explanation">{{ s("explanation_bittorrent") }}</p>
{% endblock %}
