{% extends "base.html" %}

{% if country is null %}
{% set country_name = s("unknown") %}
{% else %}
{% set country_name = l("countries." ~ country) %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="/style/ip_leak.css">
<script>
  document.addEventListener('DOMContentLoaded', () => {
    ipHistory.add("{{ ip }}", {name: "{{ country_name }}", code: "{{ country }}"});
  });
</script>
{% endblock %}

{% block content %}
<h1>{{ s("your_ip") }}: {{ ip }}</h1>
<div class="country">
  <h2>{{ s("country") }}: {{ country_name }}</h2>
  {% if country is not null %}
  <img src="/assets/flags/{{ country }}.svg">
  {% endif %}
</div>
{{ include("refresh_button.html") }}
{% endblock %}
