{% extends "results_table.html" %}

{% block head %}
{{ parent() }}
<script type="text/javascript">
  const STUN_SERVER = "{{ stun_server }}";
  STRINGS = {
    ...STRINGS,
    webrtc_error: "{{ s("webrtc_error") }}",
  };
</script>
<script src="/js/webrtc.js" defer></script>
{% endblock %}

{% block inner %}
{{ include("refresh_button.html", {hidden: true}) }}
<p class="explanation">{{ s("explanation_webrtc") }}</p>
<p class="explanation">{{ s("disable_webrtc")|format("<code>media.peerconnection.enabled</code>", "<code>false</code>", "<a href=\"https://support.mozilla.org/en-US/kb/about-config-editor-firefox\">about:config</a>")|raw}}</p>
{% endblock %}
